#datascience
jupyter
pandas
pyarrow
numpy
scikit-learn
matplotlib
seaborn
dask
black
click
pytest
pytest-cov
pylint
boto3
#web
fastapi
uvicorn
ruff
nbval
nbqa
ipynb
#json
plotly
scipy
nbformat
nbconvert
openpyxl